<h1 class="ui center aligned large header ">Sign-up for GoodWord</h1>

<h4 class="ui center aligned small icon header">
  <i class="circular teal hand spock outline icon"></i> 
</h4>
<%= render 'form' %>